.subtitle-project{color:#d7bf46;font-size:20px!important;border-left-color:#d7bf46;border-left-width:2px;line-height:1.4;margin-top:20px;margin-bottom:4px;padding-left:4px}.tox-statusbar__branding{display:none}.tox-tinymce{border-radius:10px!important}
