@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    [type='text'],
      [type='email'],
      [type='url'],
      [type='password'],
      [type='number'],
      [type='date'],
      [type='datetime-local'],
      [type='month'],
      [type='search'],
      [type='tel'],
      [type='time'],
      [type='week'],
      [multiple],
      textarea,
      select
     {
        @apply rounded-lg w-full shadow-sm border-gray-900
        focus:border-indigo-300 focus:ring-indigo-300;
    }
}

body{
    position: relative;
}
body:before{
    content: '';
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.card-projects{
    @apply block w-[calc((100%/3)-5px)] pt-[calc((100%/3)-5px)] transition shadow-2xl hover:scale-[1.02];
}
.card-projects:first-of-type{
    @apply mt-[5px] ml-[5px];
}
.icons-contact{
    @apply rounded-full bg-white w-[70px] h-[70px] shadow-xl flex items-center justify-center;
}

