.subtitle-project {
    color: rgb(215, 191, 70); font-size: 20px !important;
    border-left-color: rgb(215, 191, 70);
    border-left-width: 2px;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 4px;
}
.tox-statusbar__branding {display: none;}
.tox-tinymce {border-radius: 10px !important;}
